#about {
  display: flex;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    transform: rotate(-1.5deg);
    border: 5px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    // border: 5px solid rgba(0, 0, 0, 0.15);
  }
  &::after {
    content: "";
    position: absolute;
    transform: rotate(1.5deg);
    border: 5px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
  }
  .about_image_container{
    flex:1;
  }
  .about_content_container{
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .subheading {
      font-weight: 700;
      display: block;
      text-transform: uppercase;
      font-family: "Libre Caslon Text", serif;
      margin-bottom: 1.5rem;
      color: rgba(0, 0, 0, 0.4);
    }
    .name {
      font-size: 64px;
      color: #f67e7d;
      font-family: "Great Vibes", cursive;
    }
    .time {
      font-family: "Libre Caslon Text", serif;
      font-size: 48px;
      color: rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 640px) {
  #about {
    flex-direction: column;
    &::before {
    width: 96%;
  }
  &::after {
    width: 96%;
  }
  }
  .time {
    line-height: 3rem;
  }
}