
.main_header{
  text-align: center;
  color: #fff;
  // position: absolute;
  margin-top: 5rem;
  height: 100%;
  

  .prefix {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  .prefix::before {
   content: '';
    position: absolute;
    top: 5px;
    left: -9rem;
    border-top: 2.5px solid #e8e8e8;
    width: 7rem;
    height: 2px;
    border-radius: 15px;
  }
  .prefix::after {
   content: '';
    position: absolute;
    top:  5px;
    right: -9rem;
    border-top: 2.5px solid #e8e8e8;
    width: 7rem;
    height: 2px;
    border-radius: 15px;
  }

  .name_header {
    margin-top: 2rem;
    font-size: 5rem !important;
    word-spacing: 2rem;
  }
  .prefix_container {
    position: relative;
    left: 50%;
    clear: both;
    .prefix {
      position: relative;
      left: -50%;
    }
  }
}

@media only screen and (max-width: 640px) {
  .main_header {
    .prefix::before {
      display: none;
      // top: 18vh !important;
      // left: 20%  !important;
    }
    .prefix::after {
      display: none;
      // top: 18vh  !important;
      // right: 22%  !important;
    }
    .prefix_container {
      position: static;
      .prefix {
        position: static;
      }
    }
  }
  .name_header {
    word-spacing: 5rem !important;
    line-height: 6.5rem;
  }
}